<link href="https://fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet">
<style>
  .heading {
    font-family: 'Cantora One', sans-serif;
  }
</style>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto col-12 justify-content-center">
      <li class="m-0 d-flex justify-content-end">
        <img id="logo" class="mr-0" alt="Logo" src="static/PP180.png" style="height: 80%; width: 30%;">
      </li>
      <li class="nav-item active mr-5">
        <a class="nav-link heading mr-5" style="font-size: 30px" href="/alreadyLogged">PhilanthroPoints</a>
      </li>
    </ul>
  </div>
</nav>